html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 960px;
}body{
	background-color: #dddddd;
}
#header{
	background:white;
	padding: 10px;
	height: 10%;
}


#wrapper{
	min-height: 100%;
	position:relative;

}

.picbody{
	float: left;
	width: 650px;
	padding-bottom: 50px;
	height: 82%;
}

#about-me-main-page{
	width: 650px;
	font-family:Georgia;
	color: #4aaaa5;
	padding: 10px;
	float:left;
	margin-left: 134px;
	background-color: white;
}	

	#name{
		color: white;
		background-color: #4aaaa5;
		width: 210px;
		padding: 10px;
		margin-left: 134px;

	}
	

	
	#about-me-menu{
		color: #777777;
		float: right;
		text-align: center;
		padding: 14px 16px;
		margin-right: 328px;
	}

	.pic{
		width: 20em;
		display: inline-block;
		padding: 10px;
	}

.pictures1, .pictures2{
	float: left;
	display: inline-block;
	width: 325px;
	position: relative;
}

	}
	#profile-pic{
		float: left;
		margin-right: 10px;
	}



	#connect-info{
		color: #4aaaa5;
		background-color: white;
		font-size: 20px;
		float: left;
		padding-top: 0px;
		padding: 10px;
		margin-left: 30px;
		width: 270px;
		/*position: relative;*/
						}

		.images{
			width: 40px;
			height: 40px;}	
.paragraph{
	color: black;
	font: arial;
	background:white;
	width: 640px;


}		

a{
		color: #777777;
	}
	


footer{
	background-color: #666666;
	text-align: center;
	height: 50px;
	margin-top: 400px;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	border-top-width: 10px;
}

#myfooter{
	background-color: #666666;
	text-align: center;
	height: 8%;
	margin-top: 400px;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	border-top-width: 10px;
	position: absolute;
	bottom: 0;
	width: 960px;

}
.copyright{
	padding-top: 1px;
}
h5{
	margin-top: 20px;


}	

#contact-info{
		background-color: white;
		width: 720px;
		margin-left: 55px;
		float: left;
		color: #4aaaa5;
		height: 350px;
	}
#message{
	width: 350px;
	height: 100px;
}
#submitbtn{
	background-color: #4aaaa5;
	color: white;
	font-size: 16px;
}
.links{
	padding: 4px;
}			

.labels{
	color:black;
}
.inputbox{
	width:350px;
}

#portfolio{
	width: 60%;
	font-family: Georgia;
	color: #4aaaa5;
	padding: 10px;
	float: left;
	margin-left: 134px;
	background-color: white;
}

.dropdown{
	float: right;
}

